<div class="card">
  <h5 class="card-header text-center fs-1" id="featmon">Featured Monsters</h5>
</div>
<div class="row d-flex flex-wrap justify-content-center p-4">
  {{#each features}}
  <section class="col-lg-4 col-md-6 pt-5 px-3">
    <div class="card" id="moncard">
      <img src="https://via.placeholder.com/200" class="card-img-top" alt="monster pic" />
      <div class="card-body">
        <h5 class="card-title">{{monster}}</h5>
        <p class="card-text" style="height: 200px; font-size: 18px;">{{description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Type: {{character_type}}</li>
        <li class="list-group-item">Weapon: {{weapons}}</li>
        <li class="list-group-item">Health: {{health}}</li>
      </ul>
      <div class="card-body">
        <a href="/public_profiles/{{username}}" class="card-link">Created by: {{username}}</a>
      </div>
    </div>
  </section>
  {{/each}}
</div>