<div class="card">
  <h5 class="card-header text-center fs-1" id="featmon">{{userStats.name}}'s
    Monsters</h5>
</div>
<div class="row justify-content-center">
  {{#each userStats.characters}}
    <section class="col-lg-4 col-md-6 pt-5 px-3">
      <div class="card" id="moncard">
        <img
          src="https://via.placeholder.com/150"
          class="card-img-top"
          alt="monster pic"
        />

        <div class="card-body">
          <h5 class="card-title">{{monster}}</h5>
          <p class="card-text" style="height: 150px;">Description: {{description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Character Type:
            {{character_type}}</li>
          <li class="list-group-item">Weapons: {{weapons}}</li>
          <li class="list-group-item">Health: {{health}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Created by: {{username}}</a>
        </div>
      </div>
    </section>
  {{/each}}
</div>