<div class="card">
  <div class="card-header fs-1 text-center">{{userStats.name}}</div>
  <div class="card-body row justify-content-center">

    <div class="card col-lg-3 px-3">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to
          additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card mb-3 col-lg-3 px-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below
              as a natural lead-in to additional content. This content is a
              little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins
                ago</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-lg-3 px-3">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to
          additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header text-center fs-1">{{userStats.name}}'s Monsters</h5>
    <div class="card-body d-flex justify-content-center flex-wrap">
      <section class="pt-5 px-5">
        {{#each userStats.characters}}
        <div class="col-12 col-6-md col-3-lg card">
          <img
            src="https://via.placeholder.com/400"
            class="card-img-top"
            alt="monster pic"
          />
          
          <div class="card-body">
            <h5 class="card-title">Monster: {{monster}}</h5>
            <p class="card-text">Description: {{description}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Character Type: {{character_type}}</li>
            <li class="list-group-item">Weapons: {{weapons}}</li>
            <li class="list-group-item">Health: {{health}}</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Created by: </a>
          </div>
        </div>
        {{/each}}
      </section>
      <section class="pt-5 px-5">
        <div class="col-12 col-6-md col-3-lg card">
          <img
            src="https://via.placeholder.com/400"
            class="card-img-top"
            alt="monster pic"
          />
          <div class="card-body">
            <h5 class="card-title">Monster</h5>
            <p class="card-text">Description of monster</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Name</li>
            <li class="list-group-item">Type</li>
            <li class="list-group-item">Weapon</li>
            <li class="list-group-item">Health</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Created by: </a>
          </div>
        </div>
      </section>
      <section class="pt-5 px-5">
        <div class="col-12 col-6-md col-3-lg card">
          <img
            src="https://via.placeholder.com/400"
            class="card-img-top"
            alt="monster pic"
          />
          <div class="card-body">
            <h5 class="card-title">Monster</h5>
            <p class="card-text">Description of monster</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Name</li>
            <li class="list-group-item">Type</li>
            <li class="list-group-item">Weapon</li>
            <li class="list-group-item">Health</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Created by: </a>
          </div>
        </div>
      </section>
      <section class="pt-5 px-5">
        <div class="col-12 col-6-md col-3-lg card">
          <img
            src="https://via.placeholder.com/400"
            class="card-img-top"
            alt="monster pic"
          />
          <div class="card-body">
            <h5 class="card-title">Monster</h5>
            <p class="card-text">Description of monster</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Name</li>
            <li class="list-group-item">Type</li>
            <li class="list-group-item">Weapon</li>
            <li class="list-group-item">Health</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Created by: </a>
          </div>
        </div>
      </section>
      <section class="pt-5 px-5">
        <div class="col-12 col-6-md col-3-lg card">
          <img
            src="https://via.placeholder.com/400"
            class="card-img-top"
            alt="monster pic"
          />
          <div class="card-body">
            <h5 class="card-title">Monster</h5>
            <p class="card-text">Description of monster</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Name</li>
            <li class="list-group-item">Type</li>
            <li class="list-group-item">Weapon</li>
            <li class="list-group-item">Health</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Created by: </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>